@import "tailwindcss";


:root {
  --blue: #2980d9;
  --skyBlue: #3498db;
  --darkBlue: #1e2a47;
  --dark1: #0a0f1f;
  --dark2: #121922;
  --lightBlue: #ecf0f1;
}

@theme inline {
  --color-blue: var(--blue);
  --color-skyBlue: var(--skyBlue);
  --color-darkBlue: var(--darkBlue);
  --color-dark1: var(--dark1);
  --color-dark2: var(--dark2);
  --color-lightBlue: var(--lightBlue);

}

body {
  background-color: var(--dark1);
}

.headerClipPath {
  clip-path: polygon(0 0, 95% 0, 100% 25%, 100% 100%, 5% 100%, 0% 75%);

}


.aboutText {
  clip-path: polygon(0 0, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%);



  position: relative;
  overflow: hidden;


  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 130%;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(90deg, var(--skyBlue), var(--darkBlue));
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: -2;
    animation: rotation 3s linear infinite;
    /* transition: all .3s linear; */
  }

  &::before {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: var(--dark2);
    z-index: -1;
    border-radius: 1rem;

  }
}

.aboutImg {
  clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 100%);
}

.skillImg {
  clip-path: polygon(0 0, 60% 0%, 65% 7.5%, 100% 7.5%, 100% 100%, 0% 100%);

}


@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}